.main-container {
    min-width: 700px;
    background-color: white;
    min-height: 100vh;
    max-width: 900px;

    display: flex;
}

.container {
    text-align: center;
    width: 600px;
    max-width: 90%;
}

form {
    text-align: left;
}

mat-form-field {
    width: 100%;
    margin-top: 1rem;
}

button {
    display: block;
    margin-top: 1rem;
}

label {
    display: block;
    color: rgba(0, 0, 0, 0.7);
    margin-bottom: 0.3rem;
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
mat-option fa-icon {
    margin-right: 1rem;
}
