mat-toolbar {
    background-image: url('/assets/banner.svg');
    height: min-content;
    background-position: top;
    background-repeat: none;
    // background-size: cover;
    height: 150px;

}

@media (min-width: 1024px) {
    mat-toolbar {
        height: 150px;
    }
}

@media (min-width: 2000px) {
    mat-toolbar {
        height: 200px;
    }
}