<app-toolbar></app-toolbar>
<app-toolbar-graphic></app-toolbar-graphic>
<div class="container">
  <h1 class="mat-headline-4">Welcome</h1>
  <!-- <h2>Welcome</h2> -->
  <p>
    Welcome to our wedding website. We are so excited to have you as part of our wedding day!
  </p>
  <p>
    We’ve created this website as a helpful resource for all of the need-to-know details in the lead up to our big day. Here you’ll find our RSVP form, registry and the most up to date details about the day.
  </p>
  <p>
    Don’t forget to RSVP by the 14<sup>th</sup> January and let us know about any dietary requirements. We hope you can make it!
  </p>
  <p>
    If you have any other questions, please feel free to send us an email at <a href="mailto:mikaylaandconnor@gmail.com">mikaylaandconnor&#64;gmail.com</a> or send either of us a message.
  </p>
  <form (ngSubmit)='register()'>
    <mat-form-field appearance="outline">
      <mat-label>Your first and last name</mat-label>
      <input [(ngModel)]="credentials.name" name="name" matInput placeholder="Enter your first and last name">
      <mat-hint>You'll need to remember this if you want to come back</mat-hint>
    </mat-form-field>      

    <mat-form-field appearance="outline">
      <mat-label>Passkey</mat-label>
      <input [(ngModel)]="credentials.password" name="password" matInput placeholder="Enter the passkey">
      <mat-hint>You'll find the passkey on your invitation</mat-hint>
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Submit</button>
  </form>
</div>
  

