form {
    width: 600px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}


mat-form-field {
    width: 100%;
    margin-top: 2rem;
}

button {
    margin-top: 2rem;
}

p a {
    color: #212852;
}

