<app-toolbar></app-toolbar>
<!-- <app-toolbar-graphic></app-toolbar-graphic> -->
<div class="container">
  <h1 class="mat-headline-4">Mikayla and Connor</h1>

  <h2>
    <em>
      Along with their families, <br />
      invite you to their wedding celebrations!
    </em>
  </h2>

  <br />

  <h1>
    <strong>18<sup>th</sup> March 2025</strong><br />
    <a
      target="_blank"
      href="https://www.google.com/maps/place/Al+Ru+Farm/@-34.7193486,138.7805521,15z/data=!4m9!3m8!1s0x6ab753c08d1b990f:0xaa04fe55ceb34bf9!5m2!4m1!1i2!8m2!3d-34.7193486!4d138.7805521!16s%2Fg%2F1tfcngs_?entry=ttu"
      >Al Ru Farm, Sampson Flat</a
    >
  </h1>

  <br />

  <h2>
    <em>
      Ceremony starts at 4:30pm<br />
      Followed by cocktail hour and a sit-down dinner<br />
      Please
      <a color="-mdc-text-button-label-text-color" href="/rsvp-home">RSVP</a> by
      14<sup>th</sup> January 2025<br />
      Dress Code: Formal
    </em>
  </h2>
  <br />
  <br />
  <br />
  <br />
  <div class="container">
    <h1>
      <strong>FAQ</strong>
    </h1>
    <h2><strong>When should I arrive?</strong></h2>
    <h3>
      The ceremony will start promptly at 4:30pm so please arrive well before
      this time. If you arrive at or after this time, we please ask you to
      refrain from entering until the processional has finished.
    </h3>
    <br />
    <h2>
      <strong>When should I leave?</strong>
    </h2>
    <h3>
      We are required to have all guests departed from the venue by 11:30pm so
      please bear that in mind.
    </h3>
    <br />
    <h2>
      <strong>What should I wear?</strong>
    </h2>
    <h3>
      This event will be a formal event. Please take this as a chance to get out
      your fanciest clothes and dress to impress. Please bear in mind that the
      ceremony and cocktail hour take place on lawns so skinny heels may not be
      the best choice. March in Adelaide can vary quite a bit weather-wise so
      please check the weather forecast and remember to bring a jacket if it
      looks like it will be cold!
    </h3>
    <br />
    <h2>
      <strong
        >Will I have to leave the venue between the Ceremony and the
        Reception?</strong
      >
    </h2>
    <h3>
      No, you won’t! Our Ceremony will be followed directly by a catered
      cocktail hour and then straight into the reception.
    </h3>
    <br />
    <h2>
      <strong>Can I bring my kids?</strong>
    </h2>
    <h3>
      As much as we both love children, this will be a child free event aside
      from those children in the bridal party. Please take this as an
      opportunity to have the night off! There is no “waiting time” between the
      ceremony and reception (aside from a catered cocktail hour) and the event
      takes place all in the one location, making having children at the
      ceremony only also quite difficult. We apologise for any inconvenience
      this causes.
    </h3>
    <br />
    <h2>
      <strong
        >I'm coming from interstate, do you have any recommendation of where I
        should stay?</strong>
    </h2>
    <h3>
        Please bear in mind that March can be a busy time of year for Adelaide
        as we have many festivals and the Adelaide Fringe on at this time.
        Please book accommodation as soon as you are able to. There are a couple
        of hotels in Mawson Lakes (about 30 min from the venue) and a number of
        Airbnb’s located around the area.
    </h3>
  </div>
</div>
