<div class="container">
    <h2><img src="/assets/M&C.svg" alt="Matt and Claire"/></h2>
    <h2><em>Along with their families,</em></h2>
    <h2><em>invite you to their wedding celebrations!</em></h2> <br/>

    <h1><strong>15th January 2022</strong></h1>
    <h1><a target="_blank" href="https://www.google.com/maps/place/The+Fitters+Workshop+Canberra/@-35.3120216,149.1420677,17z/data=!3m1!4b1!4m5!3m4!1s0x6b164d020193c711:0x19fdf496579f1597!8m2!3d-35.3119888!4d149.1443027">
        The Fitters Workshop, Kingston ACT</a></h1> <br/>

    <h2><em>Join us at 1pm for the Ceremony.</em></h2>
    <h2><em>Return at 5pm for Dinner and (Bush)Dancing.</em></h2>
    <h2><em>Please <a target="_blank" href="">RSVP</a> by 15th Decemeber 2021</em></h2>
    <h2><em>Dress Code: Semi-Formal</em></h2>
</div>