<mat-toolbar color="primary" *ngIf="{ isAuthenticated: isAuthenticated$ | async } as state">
    <div>
        <span class="logo"><a href="/home"><img src = "../assets/M&C.svg" alt="Matt and Claire"/></a></span>
        <button *ngIf="state.isAuthenticated" routerLink="/rsvp-home" mat-button>RSVP</button>
        <button *ngIf="state.isAuthenticated" routerLink="/registry-items" mat-button>Registry</button>
        <button *ngIf="state.isAuthenticated" routerLink="/details" mat-button>Details</button>
    </div>
    
    <div>
        <span>{{ user$ | async }}</span>
        <button *ngIf="state.isAuthenticated" (click)="logout()" mat-stroked-button>Logout</button>
    </div>
  </mat-toolbar>

