<ng-container *ngIf="{ isAuthenticated: isAuthenticated$ | async } as state">
    <mat-toolbar></mat-toolbar>
    <mat-toolbar>
        <div>
            <button color="accent" routerLink="/home" mat-button>Home</button>
            <button color="accent" class="md-shown" *ngIf="state.isAuthenticated" routerLink="/rsvp-home" mat-button>RSVP</button>
            <button color="accent" class="md-shown" *ngIf="state.isAuthenticated" routerLink="/registry-items" mat-button>Registry</button>
            <button color="accent" class="md-shown" *ngIf="state.isAuthenticated" routerLink="/details" mat-button>Details</button>
        </div>

        <div>
            <span class="md-shown">{{ user$ | async }}</span>
            <button color="accent" *ngIf="state.isAuthenticated" (click)="logout()" mat-stroked-button>Logout</button>
        </div>
    </mat-toolbar>
</ng-container>