mat-toolbar:first-child {
    background-image: url('/assets/Jaedin & Emily header 1920.jpg');
    background-position: center;
    background-size: cover;
}

mat-toolbar:nth-child(2) {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div {
    display: flex;
    align-items: center;
}

a {
    color: var(--accent-color);
}

button:not(:first-child) {
    margin-left: 1rem;
}

span {
  color: #476682;
}

img {
    height: 3.5rem;
    display: block;
  }

  .md-hidden {
    display: flex;
  }

  .md-shown, .md-shown-flex {
    display: none;
  }

  @media(min-width: 768px) {
    .md-hidden {
        display: none;
    }

    .md-shown {
        display: block;
    }
  }