<app-toolbar></app-toolbar>
<!-- <app-toolbar-graphic></app-toolbar-graphic> -->
<mat-drawer-container class="example-container">
  <!-- <mat-drawer [opened]="true" #drawer mode="side">
    <fa-icon [icon]="faShoppingCart"></fa-icon><span>Your Items</span>
    <p *ngFor="let item of myRegistryItems$ | async">{{ item.title }}</p>
  </mat-drawer> -->

  <div
    *ngIf="{
      registryAdminMap: registryAdminMap$ | async,
      user: user$ | async,
      xAndY: xAndY$ | async,

    } as state"
    class="container"
  >
    <div class="form-container">
      <h2>MANAGE REGISTRY</h2>
      <p>Add a new registry item:</p>

      <!-- title: string
      description?: string
      userRegistered: string | null
      hyperlink: string
      category: string -->

      <form class="form">
        <mat-form-field>
          <mat-label>Item Name</mat-label>
          <input 
            matInput
            name="title"
            [(ngModel)]="registryItem.title"
          >
          <mat-error>You must enter a name</mat-error>
        </mat-form-field>


        <mat-form-field>
          <mat-label>Item Description</mat-label>
          <input 
            matInput
            name="description"
            [(ngModel)]="registryItem.description"
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Item Link</mat-label>
          <input 
            matInput
            name="hyperlink"
            [(ngModel)]="registryItem.hyperlink"
          >
        </mat-form-field>

        <mat-form-field>
          <mat-label>Item Category</mat-label>
          <input 
            matInput
            name="category"
            [(ngModel)]="registryItem.category"
          >
        </mat-form-field>

        <ng-container>
          <button type="submit" mat-raised-button color="primary">
              Add Item
              <!-- <fa-icon *ngIf="state.disableSave" [spin]="true" [icon]="faSpinner"></fa-icon> -->
          </button>
        </ng-container>

      </form>
    </div>







    
    <div class="registry-container">
    <div
      class="category-container"
      *ngFor="let keyval of state.registryAdminMap | keyvalue"
    >
      <h1>{{ keyval.key }}</h1>
      <mat-card
        appearance="outlined"
        *ngFor="let item of keyval.value; let first = first"
      >
      <mat-card-header>
          <a
            *ngIf="item.hyperlink"
            href="{{ item.hyperlink }}"
            target="_blank"
            class="title-link"
          >
            <mat-card-title class="mat-primary">{{ item.title }}</mat-card-title>
          </a>

          <mat-card-title 
            *ngIf="!item.hyperlink"
            class="mat-primary"
          >
          {{ item.title }}
        </mat-card-title>

        <a
          *ngIf="item.hyperlink"
          href="{{ item.hyperlink }}"
          target="_blank"
          mat-mini-fab
          mat-card-avatar
          color="primary"
          ><fa-icon [icon]="faLink"></fa-icon
        ></a>
        
      </mat-card-header>
      <mat-card-content>
          <mat-card-subtitle>{{ item.description }}</mat-card-subtitle>
      </mat-card-content>

      <!-- <span class="ml-auto"> -->
      <mat-card-actions>
        <span
          *ngIf="item.userRegistered"
        >
          Registered by: {{ item.userRegistered }}
        </span>
        <span
          *ngIf="!item.userRegistered"
        >
          Still Available
        </span>
        <button
          class="edit"
          mat-raised-button
          color="primary"
        >
          Edit
        </button>
      </mat-card-actions>
      <!-- </span> -->
    </mat-card>
  </div>
  </div>
  </div>
</mat-drawer-container>







<!-- <mat-form-field>
  <mat-label>Category</mat-label>

    <input type="text"
      placeholder="Select a Category"
      aria-label="Category filter"
      matInput
      [ngModel]="registryItem.category"
      name="category"
    >
      <mat-option *ngFor="let category of filteredCategories" [value]="category">
            {{ category }}
      </mat-option>

  <mat-error>You must select a category</mat-error>
</mat-form-field> -->