.container {
    padding-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} 

mat-drawer-container {
    min-height: 100vh;
}

mat-drawer {
    padding: 1rem;
    width: 200px;
}

mat-drawer span {
    font-size: 16px;
    margin-left: .75rem;
}

.category-container {
    margin-top: 2rem;
}

mat-card {
    display: flex;
}

.mat-card-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
}

mat-card-subtitle {
    margin-bottom: 0;
}

p {
    margin-top: 0.5rem;
}

.ml-auto {
    margin-left: auto; 
    display: flex;
    align-items: center;
}

span {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.6);
}

.double-lined {
    width: 5rem;
    text-align: center;
    margin-right: 0.5rem;
}

.plus {
    visibility: hidden;
    position: absolute;
    color: #141838;
}

.animate-plus {
    animation: move 1s ease-in;
}

@keyframes move {
    1% {
        visibility: visible;
    }
  100% { 
      transform: translate(-10px, -200px);
  }
}
