
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

$custom-typography: mat.define-typography-config(
  $font-family: 'Alegreya',
  $headline-1:  mat.define-typography-level(112px, 112px, 300, $letter-spacing: -0.05em),
  $headline-2:  mat.define-typography-level(56px, 56px, 300, $letter-spacing: -0.02em),
  $headline-3:  mat.define-typography-level(45px, 48px, 300, $letter-spacing: -0.005em),
  $headline-4:  mat.define-typography-level(56px, 80px, 400, 'Better Saturday'),
  $headline-5:  mat.define-typography-level(28px, 32px, 400, 'Alegreya SC'),               /* h1 */
  $headline-6:  mat.define-typography-level(24px, 32px, 400, 'Alegreya SC'),   /* h2 */
  $subtitle-1:  mat.define-typography-level(22px, 28px, 300),   /* h3 */
  $subtitle-2:  mat.define-typography-level(20px, 24px, 300),   /* h4 */
  $body-1:      mat.define-typography-level(18px, 24px, 400),       
  $body-2:      mat.define-typography-level(18px, 24px, 400),
  $caption:     mat.define-typography-level(16px, 20px, 300),
  $button:      mat.define-typography-level(18px, 18px, 400)
);

/* For use in src/lib/core/theming/_palette.scss */

$gift-registry-primary: mat.define-palette(mat.$blue-palette, 50);
$gift-registry-accent: mat.define-palette(mat.$blue-palette, 900);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$gift-registry-theme: mat.define-light-theme((
  color: (
    primary: $gift-registry-primary,
    accent: $gift-registry-accent,
  ),
  typography: $custom-typography,
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.core-theme($gift-registry-theme);
@include mat.all-component-themes($gift-registry-theme);
@include mat.all-component-typographies($gift-registry-theme);

/* You can add global styles to this file, and also import other style files */
// This doesn't seem to work for some reason, mat funcs don't get evaluated
// Would like to just use custom properties for styling
:root {
  --toolbar-default: mat.get-color-from-palette($gift-registry-primary, default);
  --accent-color: mat.get-color-from-palette($gift-registry-accent, defult);
  // --accent-color: #9b7978;
  --toolbar-primary: mat.get-color-from-palette($gift-registry-primary, default);
  --text-primary: mat.get-color-from-palette($gift-registry-primary, 500);
}

html, body { height: 100%; }
body { margin: 0; }
.container {
  padding-top: 4rem;
  padding-bottom: 4rem;
  width: 90%; 
  max-width: 1000px;
  margin: 0 auto;
}

.mt-1 {
  margin-top: 0.5rem;
}

.toolbar-primary-700 {
  background-color: mat.get-color-from-palette($gift-registry-primary, default);
  color: mat.get-color-from-palette($gift-registry-primary, default);
}

.mat-mdc-card-title {
  font-family: var(--mat-card-subtitle-text-font);
}

.text-primary-900 {
  color: mat.get-color-from-palette($gift-registry-primary, 900);
}

a {
  color: mat.get-color-from-palette($gift-registry-primary, 900);
}

.mat-app-background {
  background-color: white;;
}