// .background {
//     background-image: url(../../assets/floral-bg.jpeg);
// }

// .main-container {
//     min-width: 900px;
//     background-color: white;
//     min-height: 100vh;
// }

.inner-container {

    display: flex;
    gap: 1rem;
    margin: 4rem auto 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

// @media(min-width: 968px) {
//     div {
//         flex-direction: row;
//     }
// }

button {
    height: auto !important;
    width: 250px;
    font-size: 25px;
    padding: 2rem 3rem;
}

h4 {
    margin-bottom: 0.5rem;
}