<div>
    <!-- <button mat-stroked-button routerLink="/rsvp-home" color="primary">RSVP</button> -->
    <!-- <button mat-stroked-button routerLink="/details" color="primary">Details</button> -->
    <h2><b>ATTENTION:</b></h2>

    <h4>Due to the current Covid situation, we were forced to reschedule our wedding for the 9th of January.</h4> 

    <h4>While we missed having everyone with us to celebrate on the day, we were richly blessed to be able to have both our immediate families there.</h4>

    <h4>We look forward to celebrating with you at a later date. Please contact us if you would like a copy of the video recording.</h4>
    
    <button mat-stroked-button routerLink="/registry-items" color="primary">Registry</button>
</div>